{% extends 'base.html' %}

{% block title %}Manage Services{% endblock %}

{% block content %}
    {% include 'admin_navbar.html' %}

    <div class="container my-5">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Manage Services</h4>
            <a href="{{ url_for('new_service') }}" class="btn btn-primary">+ Create a New Service</a>
        </div>

        {% if services %}
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th> <!-- Added action column -->
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ service.date_created }}</td>
                    <td>{{ service.status }}</td>
                    <td>
                        {% if service.status in ['inprogress', 'requested'] %}
                        <form method="POST" action="{{ url_for('end_service', service_id=service.id) }}">
                            <button type="submit" class="btn btn-danger">Close</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No services available.</p>
        {% endif %}
    </div>
{% endblock %}
